<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <p>The Projects game</p>
    <p>adventure in the slums</p>
    <p>once upon a time in a dark dark lamd called *g-*e-*r*-*m*-a*-n-*y, where boys no longer are boys</p>
    <p>kindergarten has become a playground, but not the one you think</p>
    <p>big black man come regularly to play and have interesting sessions</p>
    <p>In this desolate land stars your desolate adventure......</p>
  </h1>
  <canvas #gameCanvas></canvas>

